.td{
    background-color: #F4F4F4;
}

.custom-background {
    background-color: #FFFFFF;
    max-width: 483px;
    width: 30%;
    height: 900px;
    margin: 0 auto;
    border-radius: 8.078px;
    padding: 20px;
    box-shadow: -8px 0 10px #d3d3d3;
    
  }
  
  .forgot-password {
      color: #1E2772;
      font-size: 14.136px;
      font-family: Poppins;
      text-decoration-line: underline;
      text-align: left;
  }
  
  .form-group {
      margin-top: 20px;
      color: #555;
      font-size: 16.156px;
      font-family: Poppins;
      text-align: left;
  }
  
  .custom-button {
    border-radius: 8.078px;
    background: #1E2772;
    box-shadow: 0px 12.116715431213379px 24.233430862426758px 0px rgba(1, 11, 253, 0.12);
    width: 100%;
    height: 50.486px;
    margin-top: 20px;
    color: #EEE;
  }
  
  .custom-button2 {
    width: 100%;
    height: 50.486px;
    border-radius: 8.078px;
    border: 1.01px solid #1E2772;
    margin-top: 20px;
    color: #1E2772;
    font-size: 16.156px;
    font-family: Poppins;
    font-weight: 600;
  }
  
  .img {
    width: 180px;
    height: 78px;
margin: 0 auto;
margin-bottom: 20px;
}

.img2{
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;

}

.form-control {
border-radius: 8.078px;
border: none;
background: #EEE;
width: 100%;
height: 50.486px;
}

.separator {
display: flex;
align-items: center;
text-align: left;
color: #C2C2C2;
margin: 20px 0;
width: 100%;
}

.separator::before,
.separator::after {
content: '';
flex-grow: 1;
background-color: #C2C2C2;
height: 1px;
margin: 0 10px;
text-align: left;
}

.img-container {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}

@media (max-width: 576px) {
.custom-background {
width: 100%;
border-radius: 0;
height: auto;
padding: 10px;
text-align: left;
}

.custom-button,
.custom-button2 {
width: 100%;
height: 40px;
font-size: 14px;
}

.img {
width: 120px;
height: 52px;
}

.img2 {
  left: auto;
  max-width: 100%;
  position: relative;
  top: 0;
}

.form-group {
width: 100%;
}
}

@media (min-width: 768px) {
.custom-background {
max-width: 600px;
margin-left: auto;
margin-right: 2%;
text-align: left;
}

.custom-button,
.custom-button2 {
width: 100%;
font-size: 16.156px;
}

.img {
margin-left: auto;
}

.form-group {
width: auto;
}

.separator {
text-align: left;
}
}
  
