.td {
    background-color: #F4F4F4;
  }
  
  .custom-background {
    background-color: #FFFFFF;
    flex-shrink: 0;
    width: 725px;
    height: 900px;
    flex-shrink: 0;
    box-shadow: 8px 0 10px #d3d3d3;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-group {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    justify-content: flex-start;
    text-align: left;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 16.156px;
    font-family: Poppins;
    text-align: left;
  }
  
  .custom-button {
    border-radius: 8.078px;
    background: #1E2772;
    box-shadow: 0px 12.116715431213379px 24.233430862426758px 0px rgba(1, 11, 253, 0.12);
    width: 50px;
    height: 53.56px;
    margin-top: 40px;
    color: #EEE;
  }
  
  .img {
    width: 160px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .img2{
    position: absolute;
    left: 790px;
    top: 0;
    width: 493px;
    height: auto;
    top: 100px;
    max-width: 100%;
    max-height: 100%;
  
  }

  .form-control {
    border-radius: 8.078px;
    text-align: left;
    border: none;
    background: #EEE;
    width: 336px;
    height: 50.486px;
  }
  
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 576px) {
    .custom-background {
      width: 100%;
      border-radius: 0;
      height: 40%;
      padding: 10px;
      text-align: left;
    }
  
    .custom-button {
      width: 30%;
      height: 40px;
      font-size: 14px;
    }
  
    .img {
      width: 120px;
      height: 52px;
    }
    .img2 {
      right: auto;
      max-width: 100%;
      position: relative;
      top: 0;
    }
    
  
    .form-group {
      width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .custom-background {
      max-width: 1000px;
      margin-left: auto;
      margin-left: 2%;
      text-align: right;
    }
  
    .custom-button {
      width: 30%;
      font-size: 16.156px;
    }
  
    .img {
      margin-left: auto;
    }
  
    

    .form-group {
      width: 336px;
    }
  }
  
