<div class="td">
    <div class="container-fluid custom-background">
      <div class="row">
        <div class="col-md-6">
          <div class="img-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5xanOEphEz-BxUckVZJEP7qZZ9Ar0sEuCslhTlny1hf2bLQ4haDlfiCQXkxrq01WwJg&usqp=CAU" class="img">
          </div>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
              </div>
  
              <div class="form-group col-md-6">
                <label for="cep">CEP:</label>
                <input type="text" class="form-control" id="cep" name="cep" [(ngModel)]="cep" (blur)="buscarEnderecoPorCep()" placeholder="00000-000" required>
              </div>
  
              <div class="form-group col-md-6">
                <label for="celular">Celular:</label>
                <input type="tel" class="form-control" id="celular" name="celular" placeholder="(00) 00000-0000" required>
              </div>
  
              <div class="form-group col-md-6">
                <label for="cidade">Cidade:</label>
                <input type="text" class="form-control" id="cidade" name="cidade" [(ngModel)]="cidade" placeholder="" required>
              </div>
  
              <div class="form-group col-md-6">
                <label for="cpf">CPF:</label>
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" required>
              </div>
  
              <div class="form-group col-md-6">
                <label for="bairro">Bairro:</label>
                <input type="text" class="form-control" id="bairro" name="bairro" [(ngModel)]="bairro" placeholder="" required>
              </div>
  
              <div class="form-group col-md-6">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" required>
              </div>
  
              <div class="form-group col-md-6">
                <label for="estado">Estado:</label>
                <input type="text" class="form-control" id="estado" name="estado" [(ngModel)]="estado" placeholder="" required>
              </div>
  
              <div class="form-group col-md-6">
                <label for="senha">Senha:</label>
                <input type="password" class="form-control" id="senha" name="senha" placeholder="xxxxxxxxxx" required>
              </div>
             
            </div>
            <button type="submit" class="btn btn-primary custom-button" onclick="window.location='\login';">Concluir</button>
            
          </form>
        </div>
      </div>
    </div>
  